redis==6.2.0
fastapi==0.115.0
uvicorn==0.30.6
streamlit==1.39.0
psycopg2-binary==2.9.9
pandas==2.2.3
scikit-learn==1.5.2
numpy==2.1.1
websocket-client==1.8.0
matplotlib==3.9.2
kiteconnect==5.0.1
python-dotenv==0.20.0
yfinance==0.2.61
sqlalchemy==1.4.49
openpyxl==3.1.5
reportlab==4.4.4